//import scss
@import '_variables';
@import '_menu';
@import '_contact';

//globals
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

@font-face {
    font-family: "benoaBlack";
    src: url("../fonts/benoaBlack.ttf");
}

@font-face {
    font-family: "gillSansUltraBold";
    src: url("../fonts/gillSansUltraBold.ttf");
}

@font-face {
    font-family: "manropeRegular";
    src: url("../fonts/manropeRegular.ttf");
}

body, html {
    height: 100%;
}

body {
    background: $orangeColor
}

.welcomeContainer {
    height: 100%;
}

section.welcomeScreen {
    max-width: 80rem;
    margin: auto;

}

.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
}

.menu {
    display: flex;
    align-items: flex-end;

}
.menu ul {

    //list-style-type: none;
}
.menu ul li {
    //display: inline;
    //text-align: right;
    //position: relative;
    //display: inline-flex;
    display: inline-flex;
    margin-right:3rem;

.menu ul:last-child {
    margin-right: none;
}

a {
    font-family:$gillSans;
    color: white;
    text-decoration: none;
    text-transform: uppercase;

}

a:hover {
    color: $redColor;
}

.logo {
    align-items: flex-end;
}

}
h1 {
    color: $redColor;
    font-family: "benoaBlack";
    font-size: 4rem;
    margin-bottom: -28px;
}

h1.top {
    margin-bottom: -35px;
}

h2 {
    font-family:$gillSans;
    text-transform: uppercase;
    color: white;
    font-size: 5.5rem;
}

h2 span {
    color: $redColor;
}

h3 {
    font-family: $gillSans;
    color: $redColor;
    font-size:4rem;
    padding-bottom: 15px;

}


.boxContainer {
    display: flex;
    align-items: flex-start;
    padding-top: 4rem;
}

.leftBox {
    flex: 1;
}

.rightBox {
    flex: 1;
    padding-left: 3rem;
}

p.homeP {
    padding-bottom: 50px;
}

p {
    font-family: $manropeRegular;
    font-size: 2rem;
    color: white;
}

.rightBoxMenu {
    display: flex;
}

.rightBoxMenu a {
    text-decoration: none;
    color: white;
}
button {
    background:$redColor;
    border: 0.3rem solid $redColor;
    border-radius: 4rem;
    padding:1rem;
    flex: 1;
    margin-right: 1rem;
    font-family: $gillSans;
    color: white;
    text-transform: uppercase;
    size: 4rem;
}

button:hover {
    background:none;
}

.squiggle {
    position: absolute;
    left: 0;
    width: 100%;
    background-image: url(/img/quiggle.png);
    background-repeat: repeat-x;
  }